attr==0.3.2
attrs==21.2.0
bleak_winrt==1.2.0
capturer==3.0
cog==0.6.1
ConfigParser==5.3.0
contextlib2==21.6.0
cryptography==3.4.8
cython==0.29.33
Cython==0.29.33
dl==0.1.0
docutils==0.19
Foundation==0.1.0a0.dev1
HTMLParser==0.0.2
importlib_metadata==4.6.4
ipython==8.10.0
ipywidgets==8.0.4
Jinja2==3.1.2
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
mock==4.0.3
monotonic==1.6
numpy==1.23.4
ordereddict==1.1
Pillow==9.4.0
PyGObject==3.42.1
pyOpenSSL==23.0.0
pyserial==3.5
railroad==0.5.0
sh==2.0.2
simplepyble==0.5.0
tornado==6.2
truststore==0.5.0
urllib3_secure_extra==0.1.0
verboselogs==1.7
xmlrpclib==1.0.1
